<html>

<head>
    <style>
    
        .thetitle{
            font-family: times;
            font-size: 250%; 
        }
        
        
        .boxes{
            border: 3px solid;
            width: 100px;
            height: 10 px;
            text-align: center;
            font-size: 40px;
            font-family: times;
                
        }
        
        .theanswer{
            border: none;
border-color: transparent;

            width: 100px;
            height: 10 px;
            text-align: center;
            font-size: 40px;
            font-family: times;
        }
        
        
 .button {
    background-color: black;
     border-radius: 30%;
    color: yellow;
    padding: 8px 16px;
    text-align: center;
    font-size: 15px;
    ;
}
        
    
        .clearbutton {
            
    background-color: indianred;
    text-align: center;
    font-size: 30px;
            
        }
        
    </style>
    
    
    
    
    
    
    <script>
        function doHide(){document.getElementById("box3").style.visibility = 'hidden';
                         }
            
        function doAdd() {
            var num1 = Number(document.getElementById('box1').value);
            var num2 = Number(document.getElementById('box2').value);
            var num3 = num1 + num2;
             if (num3 < 0){
                document.getElementById("box3").style.color = "red";
            }
            else{
                document.getElementById("box3").style.color = "black";
            }
            document.getElementById("box3").style.visibility = 'visible';
            document.getElementById('box3').value = num3;

        }

        function doSubtract() {
            var num1 = Number(document.getElementById('box1').value);
            var num2 = Number(document.getElementById('box2').value);
            var num3 = num1 - num2;
            if (num3 < 0){
                document.getElementById("box3").style.color = "red";
            }
            else{
                document.getElementById("box3").style.color = "black";
            }
            document.getElementById("box3").style.visibility = 'visible';
            document.getElementById('box3').value = num3;

        }

        function doMultiply() {
            var num1 = Number(document.getElementById('box1').value);
            var num2 = Number(document.getElementById('box2').value);
            document.getElementById("box3").style.visibility = 'visible';
            var num3 = num1 * num2;
             if (num3 < 0){
                document.getElementById("box3").style.color = "red";
            }
            else{
                document.getElementById("box3").style.color = "black";
            }
            document.getElementById('box3').value = num3;
        }
        
        function doDivide() {
            var num1 = Number(document.getElementById('box1').value);
            var num2 = Number(document.getElementById('box2').value);
            var num3 = num1 / num2;
             if (num3 < 0){
                document.getElementById("box3").style.color = "red";
            }
            else{
                document.getElementById("box3").style.color = "black";
            }
            document.getElementById("box3").style.visibility = 'visible';
            document.getElementById('box3').value = num3;
        }
        
                
        function doPowerof() {
            var base = Number(document.getElementById('box1').value);
            var exponent = Number(document.getElementById('box2').value);
            var result = 1;
for (var theCounter = 0; theCounter < exponent; theCounter = theCounter + 1){
result = result * base;
}
             if (result < 0){
                document.getElementById("box3").style.color = "red";
            }
            else{
                document.getElementById("box3").style.color = "black";
            }
document.getElementById("box3").style.visibility = 'visible';
            document.getElementById('box3').value = result;
        }
        
          function doClear() {
              document.getElementById("box1").value = '';
              document.getElementById("box2").value = '';
              document.getElementById("box3").value = '';
              document.getElementById("box3").style.visibility = 'hidden';
            
        }
        
    </script>


</head>

<body bgcolor="#E6E6FA">
    
    <div id="calc" align= "center">
    
        <br>
        <br>
        <h2 class="thetitle"> Simple Calculator</h2>
    <input class="boxes" type="text" id="box1">
    <br>
    <br>
         
    <button class="button" onclick="doAdd()">+</button>
    <button class="button" onclick="doSubtract()">-</button>
    
    <button class="button" onclick="doMultiply()">x</button>
    <button class="button" onclick="doDivide()">&divide;</button>
    
    <button class="button" onclick="doPowerof()">^</button>
    <br>
    <br>
        <input class="boxes" type="text" id="box2">
        <br>
        <br>
       
        <span style='font-size:100px;'>&#8595;</span>
        <br>
      
        
    <input class="theanswer" type="text" id="box3">
        <br>
        <br>
         <button class="clearbutton" onclick="doClear()">clear</button>
    </div>
</body>


</html>